
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <!--<p>Altran Firewall Deployment Solution</p> -->
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
     aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarCollapse">
     <ul class="navbar-nav mr-auto">
         <li class="nav-item">
             <a  class="nav-link d-flex flex-column" routerLink="/automateIdea">
            <div style="text-align:center"><i class="fa fa-cog" aria-hidden="true"></i></div>
               <span class="d-none d-sm-inline">Automation ideas</span>
             </a>
         </li>
 
         <li class="nav-item">
           <a  class="nav-link d-flex flex-column" routerLink="/trends">
            <div style="text-align:center"> <i class="fa fa-bar-chart" aria-hidden="true"></i></div>
                <span class="d-none d-sm-inline">TRENDS</span>
              </a>
         </li>
         
         <li class="nav-item">
       <a  class="nav-link d-flex flex-column" routerLink="/my-tasks">
         <div style="text-align:center"> <i class="fa fa-check-square-o" aria-hidden="true"></i></div>
            <span class="d-none d-sm-inline">MY TASKS</span>
          </a>
         </li>
       </ul>
     </div>
 
    <!-- <button type="button"><i class="fa fa-user-circle fa-4x" aria-hidden="true"></i></button> -->
    <!-- i class="fa fa-user-circle-o" style="font-size:60px;color:#c9e0e8;"></i> -->
   <a class="navbar-brand" href="#"><img style="margin-left: 40%;margin-top:-10px;"  id="Logoid" src="assets/Altran.png"/>
     <p style="font-size: 14px;margin-bottom: -10px;margin-left: 0%">Altran Firewall Deployment Solution</p></a>
     <i class="fa fa-user-circle-o" style="font-size:60px;color:#c9e0e8;"></i>
   </nav>
 